.icon-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 1.5rem;
  color: var(--sys-on-surface);

  transition: font-size 0.05s ease-out, color 0.25s ease-out;

  &:hover {
    font-size: 1.65rem;
  }
}
