:root#dark {
  --sys-primary: rgb(207 189 254);
  --sys-surface-tint: rgb(207 189 254);
  --sys-on-primary: rgb(54 39 93);
  --sys-primary-container: rgb(77 61 117);
  --sys-on-primary-container: rgb(233 221 255);
  --sys-secondary: rgb(207 189 254);
  --sys-on-secondary: rgb(54 39 93);
  --sys-secondary-container: rgb(77 61 117);
  --sys-on-secondary-container: rgb(233 221 255);
  --sys-tertiary: rgb(255 176 201);
  --sys-on-tertiary: rgb(84 29 51);
  --sys-tertiary-container: rgb(111 51 73);
  --sys-on-tertiary-container: rgb(255 217 227);
  --sys-error: rgb(255 179 173);
  --sys-on-error: rgb(87 30 27);
  --sys-error-container: rgb(115 51 47);
  --sys-on-error-container: rgb(255 218 215);
  --sys-background: rgb(20 18 24);
  --sys-on-background: rgb(230 224 233);
  --sys-surface: rgb(20 19 24);
  --sys-on-surface: rgb(230 225 233);
  --sys-surface-variant: rgb(72 69 78);
  --sys-on-surface-variant: rgb(201 196 208);
  --sys-outline: rgb(147 143 153);
  --sys-outline-variant: rgb(72 69 78);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(230 225 233);
  --sys-inverse-on-surface: rgb(50 47 53);
  --sys-inverse-primary: rgb(101 85 143);
  --sys-primary-fixed: rgb(233 221 255);
  --sys-on-primary-fixed: rgb(32 16 71);
  --sys-primary-fixed-dim: rgb(207 189 254);
  --sys-on-primary-fixed-variant: rgb(77 61 117);
  --sys-secondary-fixed: rgb(233 221 255);
  --sys-on-secondary-fixed: rgb(32 16 71);
  --sys-secondary-fixed-dim: rgb(207 189 254);
  --sys-on-secondary-fixed-variant: rgb(77 61 117);
  --sys-tertiary-fixed: rgb(255 217 227);
  --sys-on-tertiary-fixed: rgb(58 7 30);
  --sys-tertiary-fixed-dim: rgb(255 176 201);
  --sys-on-tertiary-fixed-variant: rgb(111 51 73);
  --sys-surface-dim: rgb(20 19 24);
  --sys-surface-bright: rgb(58 56 62);
  --sys-surface-container-lowest: rgb(15 13 19);
  --sys-surface-container-low: rgb(28 27 32);
  --sys-surface-container: rgb(33 31 36);
  --sys-surface-container-high: rgb(43 41 47);
  --sys-surface-container-highest: rgb(54 52 58);
}
